body{
	background: #333;
}

*{font: normal 12px/16px 'Lucida Console', Consolas;}

p{padding-top: 16px;}
p:first-child{padding-top: 0px;}

a{color: white; text-decoration: underline;}
a:hover{text-decoration: none; color: #eee;}
a:visited{text-decoration: line-through; color: #eee;}

::selection {background: #777;}
::-moz-selection {background: #777;}

.frame{
	position: relative;
	display: inline-block;
}

.frame .frame-titlebar{
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -khtml-border-top-left-radius: 10px; border-top-left-radius: 10px; border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; -khtml-border-top-right-radius: 10px; border-top-right-radius: 10px; border-radius-topright: 10px;
	/*margin-left: 10px;*/
	width: 65%;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px;
	/*border: solid 1px #333;
	border-width: 0px 0px 1px 0px;*/
	border: outset 1px #888;
	/*background: #666;*/
	
	position: absolute;
	right: 15px;
	z-index: 1;	
	box-shadow: 0px 0px 7px #111;
	transition: box-shadow 1s;
	-webkit-transition: box-shadow 1s;
	
	line-height: 24px;
}

.frame .frame-titlebar .frame-btns{
	float: right;
	padding-top: 3px;
}

.frame .frame-content{
	box-shadow: 0px 0px 7px #111;
	box-shadow: 3px 3px 7px #222;
	
	transition: box-shadow 1s;
	-ms-transition: box-shadow 1s;
	-webkit-transition: box-shadow 1s;
	-moz-transition: box-shadow 1s;
	
	position:relative;
	z-index: 2;

	margin-top: 26px;
	border: outset 1px #888;
	/*border-width: 1px 0px 0px 1px;*/
	border-radius: 10px;
	padding: 10px;
	
	min-width: 150px;
	min-height: 150px;
}

.frame:hover .frame-titlebar{
	box-shadow: 0px 0px 7px skyblue;
}
.frame:hover .frame-content{
	box-shadow: 3px 3px 7px #000;
}

/** Polaroid(tm) like image frame */
.polapic{
	box-shadow: 3px 3px 7px #222;
	transition: transform 500ms;
	-ms-transition: transform 500ms;
	-webkit-transition: transform 500ms;
	-moz-transition: transform 500ms;
	background: white;
}

.polapic.rot_a{
margin-top: 5px;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	transform:rotate(3deg);
}
.polapic.rot_b{
	margin-top: 3px;
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.polapic.rot_c{
	margin-top: 0px;
	-webkit-transform:rotate(1.5deg);
	-moz-transform:rotate(1.5deg);
	-ms-transform:rotate(1.5deg);
	transform:rotate(1.5deg);
}
.polapic.rot_d{
margin-top: 7px;
	-webkit-transform:rotate(-1.5deg);
	-moz-transform:rotate(-1.5deg);
	-ms-transform:rotate(-1.5deg);
	transform:rotate(-1.5deg);
}

.polapic img{
	border: solid 10px white;
	border-width: 10px 10px 0px 10px;
}
.polapic.notitle img{
	border: solid 10px white;
	border-width: 10px 10px 20px 10px;
}
.polapic .title{
	margin-top: -1px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	font-size: 10px;
	display: block;
	background: white;
	color: #222;
	
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.leftCol{width: 48%; padding: 20px 10px;}
.rightCol{width: 48%; padding: 20px 0px;}

.leftCol .frame{
	margin-top: 20px;
}
.leftCol .frame:first-child{margin-top: 0px;}

#ThemeChanger{
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; -khtml-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; border-radius-bottomright: 10px;
	position: fixed;
	top: 0;
	left: 50%;
	border: outset 1px #888;
	border-width: 0px 1px 1px 1px;
	padding: 5px;
	height: 20px;
	z-index: 20;
}

#ThemeChanger li{
	border: solid 2px white;
	height: 16px;
	width: 16px;
	margin-left: 5px;
}
#ThemeChanger li:first-child{margin-left: 0px;}

/* --- vvv ERASE vvv --- */

#frame_test{
/*	position: absolute;
	top: 50px;
	left: 50px;*/
}

#frame_test .frame-content{
	padding: 20px;
	min-height: 160px;
}

#frame_test .polapic .title,
#frame_test .polapic img{
	width: 130px;
	transition: width 500ms, margin 500ms;
	-webkit-transition: width 500ms, margin 500ms;
	-moz-transition: width 500ms, margin 500ms;
	-ms-transition: width 500ms, margin 500ms;
}

#frame_test .polapic{
	position: relative; 
	transition: width 500ms, margin 500ms;
	-webkit-transition: width 500ms, margin 500ms;
	-moz-transition: width 500ms, margin 500ms;
	-ms-transition: width 500ms, margin 500ms;
}
#frame_test .polapic:hover img{width: 150px}
#frame_test .polapic:hover{margin-left: -10px; margin-right: -10px;z-index: 5;}


#frame_test_2{
	/*position: absolute;
	top: 50px;
	right: 50px;*/
}

#frame_test_2 .frame-content{
	max-width: 500px;
}
